.newsletter {
  padding: 40px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.newsletter h2 {
  margin-bottom: 10px;
}

.newsletter p {
  margin-bottom: 20px;
}

.newsletter form {
  display: flex;
  justify-content: center;
}

.newsletter input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 50%;
}

.newsletter button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}